$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import url('http://fonts.googleapis.com/css?family=Oswald|Lobster');
@import url('http://fonts.googleapis.com/css?family=Peralta');
@import 'sass-bootstrap/lib/bootstrap';

body {
  margin-top: 7%;
  background: #eaeaea;
  text-align: center;
}

a {
  color: #47473c;
  font-family: Lobster;
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
}

h1 {
  font-family: Lobster;
  font-weight: normal;
  margin: 0;
}

@-webkit-keyframes rotate-cycle1 {
	0% {-webkit-transform: rotateY(0deg)}
	33%{-webkit-transform: rotateY(-90deg)}
	34% {-webkit-transform: rotateY(90deg); -webkit-animation-timing-function: step-start;}
	100% {-webkit-transform: rotateY(1deg)}
}

@-webkit-keyframes name-appear {
	0% {opacity: 0}
	40.833333333333336% {opacity: 0}
	70.41666666666667% {opacity: 1}
	100% {opacity: 0}
}

@-webkit-keyframes images-switch {
	0% {-webkit-transform: rotateY(0deg);}
	0.4166666666666667% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/1.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	0.5166666666666667% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	0.8333333333333334% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	6.666666666666667% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	7.083333333333334% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/2.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	7.183333333333334% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	7.5% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	13.333333333333334% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	13.75% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/3.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	13.85% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	14.166666666666668% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	20% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	20.416666666666668% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/4.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	20.51666666666667% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	20.833333333333332% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	26.666666666666668% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	27.083333333333336% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/5.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	27.183333333333337% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	27.5% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	33.333333333333336% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	33.75% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/6.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	33.85% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	34.16666666666667% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	40% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	40.416666666666664% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/7.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	40.516666666666666% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	40.833333333333336% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	70% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
	70.41666666666667% {-webkit-transform: rotateY(-90deg);-moz-transform: rotateY(-90deg); background: url('../images/8.jpg'); -webkit-animation-timing-function: step-start;-moz-animation-timing-function: step-start;}
	70.51666666666667% {-webkit-transform: rotateY(90deg);-moz-transform: rotateY(90deg);}
	70.83333333333333% {-webkit-transform: rotateY(1deg);-webkit-animation-timing-function: ease-in;-moz-transform: rotateY(1deg);-moz-animation-timing-function: ease-in;}
	100% {-webkit-transform: rotateY(1deg);-moz-transform: rotateY(1deg);}
}

#container {
	margin: 0 auto;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	-o-perspective: 2000px;
	perspective: 2000px;
	
	#portfolio {
		margin: 2em 0 1em;
		.christmas-card{
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-transform: rotateY(1deg);
			-webkit-animation: images-switch 50s ease-in 2s infinite;
			background: url('../images/1.jpg');
			background-size: 100% auto;
			background-repeat: no-repeat;
			width: 487px;
			height: 630px;
			margin: 0 auto;
			position: relative;
			.card-name{
				-webkit-transform: translate3d(0, 0, 0);
				-webkit-animation: name-appear 50s step-start 2s infinite;
				font-family: 'Peralta', cursive;
				position: absolute;
				bottom: 37%;
				width: 100%;
				opacity: 0;
			}
		}
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 560px) {
	#container {
		#portfolio {
			.christmas-card{
				width: 285px;
				height: 370px;
			}
		}
	}
}
